@media screen and (max-width: 950px) {
  .header__title_burger {
    font-size: 36px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    line-height: 1.23;
  }
}

@media screen and (max-width: 800px) {
  .header__title_burger {
    font-size: 32px;
  }
}