.decision__block {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  margin-top: 20px;
  margin-right: 70px;
}

@media screen and (max-width: 900px) {
  .decision__block {
    margin-right: 0;
    align-self: center;
  }
}

@media screen and (max-width: 500px) {
  .decision__block {
    margin-top: 10px;
  }
}