.footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 800px) {
  .footer__links {
    grid-area: links;
  }
}

@media screen and (max-width: 600px) {
  .footer__links {
    display: none;
  }
}