.cases__part {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  margin-top: 50px;
}

@media screen and (max-width: 1200px) {
  .cases__part {
    gap: 30px;
  }
}

@media screen and (max-width: 900px) {
  .cases__part {
    grid-template-columns: 1fr;
  }
}