.popup__close-button {
  background-image: url(../../../images/index/Close-icon.svg);
  width: 32px;
  height: 32px;
  position: absolute;
  right: -40px;
  top: -40px;
  border: none;
  padding: 0;
  background-color: transparent;
  background-size: contain;
}

.popup__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .popup__close-button {
      width: 20px;
      height: 20px;
      right: -23px;
      top: -23px;
  } 
}

@media screen and (max-width: 360px) {
  .popup__close-button {
      right: -20px;
      top: -27px;
  } 
}

@media screen and (max-width: 300px) {
  .popup__close-button {
      right: -8px;
  } 
}
