.header__link_ref {
  text-decoration: none;
  color: white;
  height: 100%;
  align-self: center;
  justify-self: center;
  margin: 0;
  padding: 16px 10px;
  width: 97px;
  text-align: center;
  font-size: 16px;
}

.header__link_ref:hover .header__dropdown {
  display: flex;
}

.header__link_ref[aria-current="page"] {
  background-color: #f29d00;
}

@media screen and (max-width: 1300px) {
  .header__link_ref {
    font-size: 14px;
    padding: 17px 0px;
    width: 85px;
  }
}

@media screen and (max-width: 950px) {
  .header__link_ref {
    width: auto;
    height: auto;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 20px;
  }
}

@media screen and (max-width: 320px) {
  .header__link_ref {
    font-size: 18px;
  }
}