.header__contact_link {
  text-decoration: none;
  color:darkgrey;
}

.header__contact_link:hover {
  color: #f29d00;
}

@media screen and (max-width: 550px) {
  .header__contact_link {
    margin: 10px 25px;
  }
}