.footer__link {
  font-size: 18px;
  margin-bottom: 18px;
  text-decoration: none;
  color:darkgrey;
}

.footer__link:last-child {
  margin-bottom: 0;
}

.footer__link:hover {
  color: #f29d00;
}

@media screen and (max-width: 800px) {
  .footer__link {
    font-size: 16px;
  }
}