.main__point {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

@media screen and (max-width: 1108px) {
  .main__point {
    align-items: flex-start;
  }
}


@media screen and (max-width: 1000px) {
  .main__point {
    align-self: center;
  }
}

@media screen and (max-width: 800px) {
  .main__point {
    justify-content: center;
  }
}