.decision__img_arrow {
  width: 30px;
  height: 30px;
  margin-left: 195px;
}

.decision__img_arrow:first-of-type {
  margin-left: 0;
}

@media screen and (max-width: 1000px) {
  .decision__img_arrow {
    width: 25px;
    height: 25px;
  }
}

@media screen and (max-width: 500px) {
  .decision__img_arrow {
    margin-left: 117px;
    width: 20px;
    height: 20px;
  }
}