.popup__submit-button {
  display: block;
  box-sizing: border-box;
  width: 358px;
  min-height: 50px;
  margin: 48px 0 37px 36px;
  padding: 0;
  background-color: #f29d00;
  border: none;
  border-radius: 100px;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}

.popup__submit-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .popup__submit-button {
      width: 238px;
      min-height: 46px;
      margin-top: 45px;
      margin-left: 66px;
      margin-bottom: 25px;
      font-size: 14px;
  }
}

@media screen and (max-width: 640px) {
  .popup__submit-button {
      margin-left: 45px;
  }
}

@media screen and (max-width: 410px) {
  .popup__submit-button {
      margin-left: 20px;
  }
}

@media screen and (max-width: 360px) {
  .popup__submit-button {
      width: 200px;
  }
}