.conclusions__item {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.23;
  font-weight: 400;
}

@media screen and (max-width: 800px) {
  .conclusions__item {
    font-size: 16px;
  }
}