.main__number {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.23;
  font-weight: 700;
  color: rgb(255, 127, 39);
  margin-right: 10px;
  padding: 0;
}

@media screen and (max-width: 800px) {
  .main__number {
    font-size: 16px;
  }
}