.header__consult {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 16px;
}

@media screen and (max-width: 1300px) {
  .header__consult {
    font-size: 14px;
  }
}