.tasks__item {
  font-size: 18px;
  width: fit-content;
  margin: 0 0 0 40px;
}

.tasks__item:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 800px) {
  .tasks__item {
    font-size: 16px;
  }
}