.cases__consult {
  border-bottom: 1px solid #f29d00;
  color: #f29d00;
  grid-area: consult;
  font-size: 18px;
}

.cases__consult:hover {
  opacity: .7;
}

@media screen and (max-width: 800px) {
  .cases__consult {
    font-size: 16px;
  }
}